<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{general.html :: head-include}">&nbsp;</th:block>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <title>Login</title>
</head>

<body>

<header th:replace="~{general.html :: header}">&nbsp;</header>

<nav th:replace="~{general.html :: leftbar}">&nbsp;</nav>

<div class="content">

    <h4 th:if="${param.logout}" th:text="'You have been successfully logged out.'">Log out message</h4>
    <br>

    <p>Please enter your credentials in the form below<span th:if="${param.logout}"
                                                            th:text="' to log in again'">&nbsp;</span>:</p>
    <br>
    <div class="max-width-800px">
        <form id="login-form" class="login-form"
              th:action="@{/login}" th:method="post">

            <div class="grid-label-input-ctr">
                <div class="grid-label">
                    <label for="email">Email:</label>
                </div>
                <div class="angle-border grid-input">
                    <input id="email" name="email"
                           type="email"
                           placeholder='e.g., "user@example.com"'
                           required>
                </div>
            </div>

            <div class="grid-label-input-ctr">
                <div class="grid-label">
                    <label for="password">Password:</label>
                </div>
                <div class="angle-border grid-input">
                    <input id="password" name="password"
                           type="password"
                           placeholder='e.g., "1234"'
                           required>
                </div>
            </div>
            <div class="grid-label-input-ctr">
                <h4 th:if="${param.error}" th:text="'Bad Credentials'" class="error-text grid-input">Error</h4>
            </div>
        </form>
        <button id="login-submit-btn" class="submit-btn"
                type="submit" form="login-form">Login
        </button>
    </div>
</div>

<nav th:replace="~{general.html :: rightbar}">&nbsp;</nav>

<footer th:replace="~{general.html :: footer}">&nbsp;</footer>

</body>

</html>