<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{general.html :: head-include}">&nbsp;</th:block>
    <title>Receptaria :: Registration</title>
</head>

<body>

    <header th:replace="~{general.html :: header}">&nbsp;</header>

    <nav th:replace="~{general.html :: leftbar}">&nbsp;</nav>
    <div th:if="${displayName}" class="content">
        Congratulations, <th:block th:text="${displayName}"></th:block>!
        You have registered successfully.
        You can now log in from <a th:href="@{/login}">here</a> using your credentials!
    </div>
    <div th:unless="${displayName}">
        <p>This is our registration success page. Please log in from <a th:href="@{/login}">here</a> using your credentials.</p>
        <p>Do not have an account? Get one from <a th:href="@{/registration}">here</a>.</p>
    </div>
    <nav th:replace="~{general.html :: rightbar}">&nbsp;</nav>

    <footer th:replace="~{general.html :: footer}">&nbsp;</footer>

</body>

</html>