<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{general.html :: head}">
</head>

<body>

    <header th:replace="~{general.html :: header}">&nbsp;</header>

    <nav th:replace="~{general.html :: leftbar}">&nbsp;</nav>
    <div class="content"
         th:object="${userRegistrationDTO}">
        Congratulations, <th:block th:text="${userRegistrationBM.displayName}"></th:block>!
        You have registered successfully.
        You can now log in from <a th:href="@{/login}">here</a> using your credentials!
    </div>
    <nav th:replace="~{general.html :: rightbar}">&nbsp;</nav>

    <footer th:replace="~{general.html :: footer}">&nbsp;</footer>

</body>

</html>