<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{general.html :: head}">
</head>

<body>

    <header th:replace="~{general.html :: header}">&nbsp;</header>

    <nav class="left-bar">

        <div class="left-link-ctr">
            <a href=#><span class="dot">&nbsp;</span><span>My Recipes</span></a>
        </div>
        <div class="left-link-ctr">
            <a th:href="@{/recipes/add}"><span class="dot">&nbsp;</span><span>Add Recipe</span></a>
        </div>
    </nav>

    <div class="content" id="content">

    </div>

    <nav class="right-bar">
        <div class="right-link-cntnr">
            <a href=#><span>Edit Profile</span></a>
        </div>
    </nav>

    <footer th:replace="~{general.html :: footer}">&nbsp;</footer>

<script src="/javascript/profile.js"></script>

</body>

</html>