<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{general.html :: head-include}">&nbsp;</th:block>
    <title>Add new recipe</title>
    <meta id="csrf" hidden th:name="${_csrf.getHeaderName()}" th:value="${_csrf.getToken()}">
</head>

<body>

<header th:replace="~{general.html :: header}">&nbsp;</header>
<nav th:replace="~{general.html :: leftbar}">&nbsp;</nav>

<div class="content">

    <p>Please fill in and submit the form below to create a recipe:</p>
    <br>

    <div class="content-vw shadowed">

        <!-- TOP -->
        <div id="recipe-add-form-top" class="form-top"></div>

        <!-- ADD FORM -->
        <form id="recipe-add-form" class="add-form"
              th:object="${recipeBM}"
              th:action="@{/recipes/add}" th:method="POST" enctype="multipart/form-data">

            <input id="recipe-bm-id" type="hidden" th:field="*{tempRecipeId}">
            <input id="author-id" type="hidden" th:field="*{authorId}">

            <!-- Title -->
            <fieldset class="title">
                <legend><i class="legend-lbl">Title</i></legend>

                <div class="angle-border">
                    <input id="title-input" class="input"
                           type="text" th:field="*{title}"
                           placeholder="My Recipe">
                </div>
                <div id="title-error" class="errors-ctr">
                    <th:block th:each="err : ${#fields.errors('title')}">
                        <ul>
                            <li th:text="${err}">Error</li>
                        </ul>
                    </th:block>
                </div>
            </fieldset>

            <!-- Photos -->
            <fieldset class="photos">
                <legend><i class="legend-lbl">Photos</i></legend>
                <!-- Global Photos Errors-->
                <div id="photos-error-ctr" class="errors-ctr"></div>

                <!-- Already Uploaded Photos -->
                <div id="photos-ctr" class="photos-ctr">
                    <th:block th:each="photoVM, upStat : *{photoVMList}">
                        <div th:id="|photo-box-${upStat.index}|" class="photo-box">
                            <div class="grid-photo">
                                <input type="hidden"
                                       th:id="|photo-id-${upStat.index}|"
                                       th:field="*{photoVMList[__${upStat.index}__].tempId}">
                                <input type="hidden"
                                       th:field="*{photoVMList[__${upStat.index}__].tempRecipeId}">

                                <label class="grid-photo-left">
                                    <input th:id="|photo-primary-${upStat.index}|" class="grid-photo-left photo-primary"
                                           th:name="primaryPhotoId"
                                           th:value="*{photoVMList[__${upStat.index}__].tempId}"
                                           type="radio" th:checked="${photoVM.tempId == recipeBM.primaryPhotoId}">
                                </label>

                                <div class="grid-photo-center">
                                    <img class="photo-file"
                                         th:src="*{photoVMList[__${upStat.index}__].url}" src=""
                                         th:alt="*{photoVMList[__${upStat.index}__].description}" alt="">
                                </div>

                                <div class="grid-photo-right align-sign-minus">
                                    <input type="button"
                                           class="sign-x"
                                           value="X"
                                           th:onclick="removePhoto(__${upStat.index}__)">
                                </div>

                                <div class="grid-photo-bottom photo-filename"
                                     th:text="*{photoVMList[__${upStat.index}__].filename}"></div>
                            </div>
                        </div>


                    </th:block>
                </div>

                <!-- Upload Photo Form -->
                <div id="new-photo-ctr" class="new-photo-ctr">


                    <div class="grid-label-input-ctr lbl80 new-photo-file">
                        <label class="grid-label">File:</label>
                        <div class="angle-border grid-input">
                            <input id="new-photo-file-data" class="new-photo-file-data"
                                   type="file" accept="image/*">
                        </div>
                    </div>

                    <div class="grid-label-input-ctr lbl80">
                        <label for="new-photo-description-text"
                               id="new-photo-description-lbl" class="grid-label">Description:</label>
                        <div class="grid-input angle-border">
                            <input id="new-photo-description-text"
                                   type="text" placeholder="Photo Description">
                        </div>
                    </div>

                    <div id="new-photo-error-ctr"></div>

                    <div class="grid-label-input-ctr lbl80">
                        <input id="upload-btn-new-photo" class="grid-input submit-btn" type="button" value="Upload"
                               onclick="uploadPhoto();">
                    </div>
                </div>
            </fieldset>

            <!-- Time | Servings-->
            <div class="time-servings-ctr">
                <fieldset class="preparation">
                    <legend class="time-lbl"><i class="legend-lbl">Preparation Time</i></legend>

                    <div class="time-picker angle-border">

                        <input id="preparation-time-hours"
                               class="hours-input"
                               type="number" min="0" max="24"
                               name="preparationHours"
                               th:field="*{preparationHours}">

                        <span class="hours-delimiter">:</span>

                        <input id="preparation-time-minutes"
                               class="minutes-input"
                               type="number" min="0" max="59" step="5"
                               name="preparationMinutes"
                               th:field="*{preparationMinutes}">
                    </div>
                    <th:block th:each="err : ${#fields.errors('preparationHours')}">
                        <div class="errors-ctr">
                            <ul>
                                <li th:text="${err}">Error</li>
                            </ul>
                        </div>
                    </th:block>
                    <th:block th:each="err : ${#fields.errors('preparationMinutes')}">
                        <div class="errors-ctr">
                            <ul>
                                <li th:text="${err}">Error</li>
                            </ul>
                        </div>
                    </th:block>
                </fieldset>

                <fieldset class="cooking">
                    <legend class="time-lbl"><i class="legend-lbl">Cooking Time</i></legend>

                    <div class="time-picker angle-border">

                        <input id="cooking-time-hours"
                               class="hours-input"
                               type="number" min="0"
                               name="cookingHours"
                               th:field="*{cookingHours}">

                        <span class="hours-delimiter">:</span>

                        <input id="cooking-time-minutes"
                               class="minutes-input"
                               type="number" min="0" max="59" step="5"
                               name="cookingMinutes"
                               th:field="*{cookingMinutes}">
                    </div>
                    <th:block th:each="err : ${#fields.errors('cookingHours')}">
                        <div class="errors-ctr">
                            <ul>
                                <li th:text="${err}">Error</li>
                            </ul>
                        </div>
                    </th:block>
                    <th:block th:each="err : ${#fields.errors('cookingMinutes')}">
                        <div class="errors-ctr">
                            <ul>
                                <li th:text="${err}">Error</li>
                            </ul>
                        </div>
                    </th:block>
                </fieldset>

                <fieldset class="servings">
                    <legend class="servings-lbl"><i class="legend-lbl"> Servings </i></legend>
                    <div class="servings-picker angle-border">
                        <input class="servings-input"
                               type="number"
                               name="servings"
                               th:field="*{servings}">
                    </div>
                    <th:block th:each="err : ${#fields.errors('servings')}">
                        <div class="errors-ctr">
                            <ul>
                                <li th:text="${err}">Error</li>
                            </ul>
                        </div>
                    </th:block>
                </fieldset>
            </div>

            <!-- Ingredients-->
            <fieldset class="ingredients">
                <legend><i class="legend-lbl">Ingredients</i></legend>
                <div class="ingredients-ctr">

                    <div id="ingredient-boxes" class="ingredients" name="ingredients">

                        <datalist id="units">
                            <option th:each="unit : ${units}" th:text="${unit}">Some unit</option>
                        </datalist>

                        <th:block th:if="${recipeBM.listIngredientBM}"
                                  th:each="ingredient, itemStat : ${recipeBM.listIngredientBM}">

                            <div th:id="|ingredient-box-${itemStat.index}|" class="ingredient-box">

                                <div class="grid-ingredient angle-border"
                                     name="ingredient-box">

                                    <input type="text" th:value="${ingredient.getIngredientName}"
                                           th:id="|ingredient-name-${itemStat.index}|" class="ingredient-name left"
                                           th:name="|listIngredientBM[${itemStat.index}].ingredientName|"
                                           placeholder="Name">

                                    <input type="text" th:value="${ingredient.getQuantity}"
                                           th:id="|ingredient-quantity-${itemStat.index}|"
                                           class="ingredient-quantity center"
                                           th:name="|listIngredientBM[${itemStat.index}].quantity|"
                                           placeholder="Quantity">

                                    <input list="units" th:value="${ingredient.getUnitName}"
                                           th:id="|ingredient-unit-${itemStat.index}|" class="ingredient-unit right"
                                           th:name="|listIngredientBM[${itemStat.index}].unitName|"
                                           placeholder="Unit">

                                    <input type="button" value="X"
                                           class="sign-x btn-x"
                                           th:onclick="|removeElement('ingredient-box-${itemStat.index}')|">
                                </div>

                                <div th:if="*{listIngredientBM[__${itemStat.index}__].ingredientName.isEmpty()}"
                                     th:class="errors-ctr">
                                    <ul>
                                        <li th:errors="*{listIngredientBM[__${itemStat.index}__].ingredientName}">Error
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </th:block>


                    </div>
                    <div class="grid-label-input-ctr lbl80">
                        <input class="sign-plus grid-input"
                               type="button"
                               value="+"
                               onclick="addIngredient()">
                    </div>
                </div>
            </fieldset>

            <!-- Description -->
            <fieldset class="description">
                <legend><i class="legend-lbl">Description</i></legend>

                <textarea id="description-notepad" class="notepad"
                          name="description"
                          placeholder="Recipe Description"></textarea>
                <th:block th:each="err : ${#fields.errors('description')}">
                    <div class="errors-ctr">
                        <ul>
                            <li th:text="${err}">Error</li>
                        </ul>
                    </div>
                </th:block>
            </fieldset>

            <!-- Visibility -->
            <fieldset class="description">
                <legend><i class="legend-lbl">Visibility Status</i></legend>

                <div class="select">
                    <select id="visibility" class="visibility"
                            th:field="*{visibilityStatus}"
                            required>
                        <option value="" selected>-- Please select! --</option>
                        <option th:each="status : ${T(dev.thrako.receptaria.common.constant.VisibilityStatus).values()}"
                                th:text="${#strings.capitalize(#strings.toLowerCase(status))}"
                                th:value="${status}">&nbsp;
                        </option>
                    </select>
                </div>
                <th:block th:each="err : ${#fields.errors('visibilityStatus')}">
                    <div class="errors-ctr">
                        <ul>
                            <li th:text="${err}">Error</li>
                        </ul>
                    </div>
                </th:block>
            </fieldset>

            <!-- Submit Button -->
            <input id="submit-btn-add-recipe" class="submit-btn"
                   type="submit" name="submit-btn" value="Submit"
                   form="recipe-add-form">
        </form>

    </div>


</div>

<nav th:replace="~{general.html :: rightbar}">&nbsp;</nav>
<footer th:replace="~{general.html :: footer}">&nbsp;</footer>

<!-- JAVA SCRIPT -->
<script src="/javascript/recipe-add.js"></script>

</body>

</html>