<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{general.html :: head}">
</head>

<body>

<header th:replace="~{general.html :: header}">&nbsp;</header>

<nav th:replace="~{general.html :: leftbar}">&nbsp;</nav>
<div class="content">

    <p>Please fill in this form to create a recipe.</p>
    <br>

    <div class="add-form-ctr">

        <div id="top" class="top"></div>
        <form id="add-form" class="add-form"
              th:action="@{/recipes/add}" th:method="post" enctype="multipart/form-data" th:object="${recipeDTO}">

            <!-- Global Errors -->
            <div id="global-errors-ctr" class="global-errors-ctr">
                <ul>
                    <th:block th:if="${#fields.hasErrors('*')}" th:each="err : ${#fields.errors('*')}">
                    <li th:text="${err}">Error</li>
                    </th:block>
                </ul>
            </div>

            <!-- Recipe Title -->
            <div id="title-ctr" class="title-ctr">
                <label id="title-lbl" class="label"
                       for="title-input">Title:</label>

                <input id="title-input" class="input"
                       type="text" name="title-input" th:field="*{title}" placeholder="My Recipe">


                <div id="title-error" class="title-error"></div>

            </div>

            <!-- Pictures -->
            <div class="pictures-ctr">
                <div id="photos" class="photos">
                    <div id="files-0" class="upload-photo">
                        <div class="upload-file">
                            <div>
                                <span>Image:</span>
                            </div>
                            <div>
                                <input type="file" accept="image/*" name="photo-file" class="photo-file" id="file-0">
                            </div>
                            <div class="align-sign-minus">
                                <input class="sign-minus" type="button" value="X" onclick="removeElement('files-0')">
                            </div>
                        </div>
                        <div class="upload-description">
                            <span class="upload-description-lbl">Description:</span>
                            <div class="upload-description-text">
                                <input type="text" name="photo-description" class="photo-description">
                            </div>
                        </div>
<!--                        <div class="upload-primary">-->
<!--                            <div class="upload-primary-lbl">-->
<!--                                <span>Primary:</span></div>-->
<!--                            <div class="upload-primary-radio">-->
<!--                                <input type="radio" name="photo-primary" value="file-0">-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
                <p>
                    <input class="sign-plus" type="button" value="+" onclick="addFile();">
                </p>
            </div>

            <!-- Ingredients-->
            <div class="ingredients-ctr">
                <div class="ingredient-labels">
                    <label class="ingredient-name-lbl"
                    >Name:</label>
                    <label class="ingredient-quantity-lbl"
                    >Qty:</label>
                    <label class="ingredient-unit-lbl"
                    >Unit:</label>
                </div>
                <div id="ingredient-boxes"
                     class="ingredients"
                     name="ingredients">

                    <datalist id="units">
                        <option th:each="unit : ${units}"
                                th:text="${unit}"
                        >some unit
                        </option>
                    </datalist>

                    <th:block th:if="${recipeDTO.ingredientDTOS}"
                              th:each="ingredient, iStat : ${recipeDTO.ingredientDTOS}"
                    >
                        <div th:id="|ingredient-box-${iStat.index}|" class="ingredient-box" name="ingredient-box"
                        >

                            <input th:id="|ingredient-name-${iStat.index}|"
                                   class="ingredient-name"
                                   type="text"
                                   name="ingredient-name"
                                   th:value="${ingredient.getIngredientName}"
                            >
                            <input th:id="|ingredient-quantity-${iStat.index}|"
                                   class="ingredient-quantity"
                                   type="text"
                                   name="ingredient-quantity"
                                   th:value="${ingredient.quantity}"
                            >
                            <input th:id="|ingredient-unit-${iStat.index}|"
                                   class="ingredient-unit"
                                   list="units"
                                   name="ingredient-unit"
                                   th:value="${ingredient.getUnitName}"
                            >
                            <input class="sign-minus"
                                   type="button"
                                   value="X"
                                   th:onclick="|removeElement('ingredient-box-${iStat.index}')|"
                            >
                        </div>
                    </th:block>
                </div>
                <div>
                    <input class="sign-plus"
                           type="button"
                           value="+"
                           onclick="addIngredient()"
                    >
                </div>
            </div>


            <!-- Time | Servings-->
            <div class="time-servings-ctr">
                <div class="preparation">
                    <div class="time-lbl">
                        Preparation time:
                    </div>

                    <div class="time-picker">

                        <input id="preparation-time-hours"
                               class="hours-input"
                               type="number" min="0" max="24"
                               name="preparationHours"
                               th:field="*{preparationHours}"
                        >

                        <span class="hours-delimiter">:</span>

                        <input id="preparation-time-minutes"
                               class="minutes-input"
                               type="number" min="0" max="59" step="5"
                               name="preparationMinutes"
                               th:field="*{preparationMinutes}"
                        >
                    </div>
                </div>

                <div class="cooking">
                    <div class="time-lbl">
                        Cooking time:
                    </div>

                    <div class="time-picker">

                        <input id="cooking-time-hours"
                               class="hours-input"
                               type="number" min="0" max="24"
                               name="cookingHours"
                               th:field="*{cookingHours}"
                        >

                        <span class="hours-delimiter">:</span>

                        <input id="cooking-time-minutes"
                               class="minutes-input"
                               type="number" min="0" max="59" step="5"
                               name="cookingMinutes"
                               th:field="*{cookingMinutes}"
                        >
                    </div>
                </div>

                <div class="servings">
                    <div class="servings-lbl">
                        Servings:
                    </div>
                    <input class="servings-input"
                           type="number"
                           name="servings"
                           th:field="*{servings}"
                    >
                </div>
            </div>

            <!-- Description -->
            <div class="description">
                <label for="description-notepad">Description:</label>
                <textarea id="description-notepad"
                          class="notepad"
                          name="description"
                          placeholder="Take about 2/3 of the flour and..."
                ></textarea>
            </div>

            <input id="submit-btn-add-recipe" class="submit-btn"
                   type="submit" name="submit" value="Submit"
            >

        </form>

    </div>

</div>

<nav th:replace="~{general.html :: rightbar}">&nbsp;</nav>

<footer th:replace="~{general.html :: footer}">&nbsp;</footer>

<!-- JAVA SCRIPT -->
<script src="/javascript/recipe-add.js"></script>

</body>

</html>