<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{general.html :: head}">
</head>

<body>

<header th:replace="~{general.html :: header}">&nbsp;</header>

<nav th:replace="~{general.html :: leftbar}">&nbsp;</nav>
<div class="content">

    <th:block th:each="card : ${recipeCards}">
        <table class="card">
            <tr>
                <td>
                    <img th:height="50px" th:src="${card.getCoverPhotoPath()}"
                         th:alt="|${card.getTitle()} cover photo|">
                </td>
                <td th:text="${card.getTitle()}">&nbsp;</td>
                <td th:text="| by ${card.getAuthorName()}|">&nbsp;</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td th:text="| last updated: ${card.getLastUpdated()}|"></td>&nbsp;
            </tr>
        </table>
    </th:block>

</div>

<nav th:replace="~{general.html :: rightbar}">&nbsp;</nav>

<footer th:replace="~{general.html :: footer}">&nbsp;</footer>


</body>

</html>