<!doctype html>
<!--suppress HtmlUnknownTag -->
<html th:fragment="html"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
<th:block th:fragment="head-include">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</th:block>
    <title>Receptaria</title>

</head>

<body>

<header th:fragment="header"
        class="header">

    <div th:fragment="login-panel" class="login-panel">

        <div sec:authorize="isAnonymous()"
             class="signup">
            <a th:href="@{/registration}" class="sign-up">Sign up</a>
        </div>

        <div sec:authorize="isAnonymous()"
             class="login">
            <a th:href="@{/login}" class="login">Login</a>
        </div>

        <div sec:authorize="isAuthenticated()"
             class="displayName">
                    <span>
                        Logged in as: <a th:href="@{/users/me}"><span sec:authentication="name">Bob</span></a>
                    </span>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form th:method="POST"
                  th:action="@{/logout}"
                  >
                <button type="submit" class="like-anchor">Logout</button>
            </form>
        </div>

    </div>
    <div th:fragment="logo-circle" class="logo-circle">&nbsp</div>
    <div th:fragment="logo-panel" class="logo-panel">
        <div th:fragment="logo" class="logo">
            <a th:href="@{/}" class="receptaria-logo">Receptaria</a>
        </div>
        <div th:fragment="search" class="search"></div>

    </div>
    <div class="admin-panel danger-area"
         th:fragment="admin-panel"
         sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="danger-text padded-10 border-dashed-2" th:href="@{/admin/dashboard}">Admin Area</a>
    </div>

</header>

<nav th:fragment="leftbar" class="left-bar">

    <div  class="left-link-ctr">
        <a th:href="@{/recipes/all}">
            <span class="dot">&nbsp;</span>
            <span th:text="'All Recipes'">Link</span>
        </a>
    </div>
    <div sec:authorize="isAuthenticated()" class="left-link-ctr">
        <a th:href="@{/recipes/mine}">
            <span class="dot">&nbsp;</span>
            <span th:text="'My Recipes'">Link</span>
        </a>
    </div>
    <div sec:authorize="isAuthenticated()" class="left-link-ctr">
        <a th:href="@{/recipes/add}" href=#>
            <span class="dot">&nbsp;</span>
            <span th:text="'New Recipe'">Link</span>
        </a>
    </div>

</nav>

<div th:fragment="content" class="content">Some content</div>

<nav th:fragment="rightbar" class="right-bar">&nbsp;</nav>

<footer th:fragment="footer" class="footer">
    <a th:href="@{/terms}">Terms & Privacy</a>
    <a href=#>Link</a>
    <a href=#>Link</a>
    <a href=#>Another Link</a>
</footer>

</body>

</html>