<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{general.html :: head}">&nbsp;</head>

<body>

    <header th:replace="~{general.html :: header}">&nbsp;</header>

    <nav th:replace="~{general.html :: leftbar}">&nbsp;</nav>
    <div class="content">This is an amateurish website. What do you expect to find here?</div>
<!--    <nav th:replace="~{general.html :: rightbar}">&nbsp;</nav>-->

    <footer th:replace="~{general.html :: footer}">&nbsp;</footer>

</body>

</html>