<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{general.html :: head}">
</head>

<body>

<header th:replace="~{general.html :: header}">&nbsp;</header>

<nav th:replace="~{general.html :: leftbar}">&nbsp;</nav>
<div id="content" class="content">Welcome to this amateurish website about recipes!
    <img width="300px" src="/images/uploads/20230302-123430_bulgarian-shopska-salad-ft2.jpeg" alt="musaka">
</div>
<nav th:replace="~{general.html :: rightbar}">&nbsp;</nav>

<footer th:replace="~{general.html :: footer}">&nbsp;</footer>

<!--<script>-->
<!--    let content = document.getElementById("content");-->

<!--    let imageElement = document.createElement("img");-->


<!--    fetch("localhost:8080/api/test")-->
<!--        .then(result => result.json()-->
<!--            .then(data => {-->
<!--                imageElement.src(data);-->
<!--                content.appendChild(imageElement);-->
<!--            }));-->


<!--</script>-->

</body>

</html>